In [2]:
import regex as re

# split

split has three type pattern,string,maxsplit

In [14]:
text = "India is a beutiful country"
x = re.split("\s",text)
print(x)

['India', 'is', 'a', 'beutiful', 'country']

In [11]:
# here we split 1 string in two different type string   s for white space
split_by = "How is a possible"
x = re.split("\s",split_by,1)
print(x)

['How', 'is a possible']

limit the numbers

In [16]:
# here we split number string split in two different type string
target_string = "12-45-78"
x = re.split(r"\D",target_string,maxsplit=1)
print(x)

['12', '45-78']

In [19]:
target_string = "12-45-78-41-85"
x = re.split(r"\D",target_string,maxsplit=3)
print(x)

['12', '45', '78', '41-85']

split string by two delimiters

In [20]:
#here we split two delimeiters - and , 
target_string = "12,45,78,85-17-89"
s = re.split(r"-|,",target_string)
print(s)

['12', '45', '78', '85', '17', '89']

# SUB method also none as replace method

In [ ]:
syntax  re.sub(pattern,replacement,string)

In [38]:
sub = "This function replace spaces by assigned char"
x = re.sub("\s","====",sub)
print(x)

This====function====replace====spaces====by====assigned====char

In [42]:
y = "Rs"
z = r"[oe]"
text = "This Item is costs Rs 2500"

replace_text = re.sub(y, "$" ,text)
print(replace_text)

This Item is costs $ 2500

In [5]:
# here we remove all space singal of multiple patten (\s+) in this string 
target = "  APJ Abdul Kalam was an India areospace scientist also know as the Missile Man of india"
lid = re.sub(r"\s+","",target)
print(lid)

APJAbdulKalamwasanIndiaareospacescientistalsoknowastheMissileManofindia

In [47]:
# here we removing leading spaces pattern is (^\s+)
# so i need end spaces remove this is pattern (\s+$)
target = "    APJ Abdul Kalam was an India areospace scientist also know as the Missile Man of india"
lid = re.sub(r"^\s+","",target)
print(lid)

APJ Abdul Kalam was an India areospace scientist also know as the Missile Man of india

In [38]:
sub = re.sub(r'[0-9]+',r'_','abc00123xCyz456_0')
print(sub)

abc_xCyz___

In [13]:
#subn is count ouccrences how many ouccrence means is 'abc',xyz is this are occrecene and there show us 3 time 
sub = re.subn(r'[0-9]+',r'*','abc00123xyz456_0')
print(sub)

('abc*xyz*_*', 3)

# Group in regex

This not about the group function 

this is all about the pattern

group always start with 1 not 0 index is start with 0

In [15]:
dlino = "Rohit Sharma has Score 43 CENTUREIS and 91 HALF CENTUREIS in his cricket career"
lino = re.search(r"(\b\d+).+(\b[A-Z]+\b).+(\b\d+).+(\b[A-Z]+\b)",dlino)

print(lino.group())

print(lino.group(1))

print(lino.group(2))

43 CENTUREIS and 91 HALF CENTUREIS
43
CENTUREIS

Regex capture group multiple times

In [20]:
dlino = "Rohit Sharma has Score 43 CENTUREIS and 91 HALF CENTUREIS in his cricket career"

pattern = re.compile(r"(\b\d+).(\b[A-Z]+\b)")

for match in pattern.finditer(dlino):
    print(match.group(1))
    print(match.group(2))

43
CENTUREIS
91
HALF

In [2]:
a= 'A year conatains 365 days and 6 hours'
pattern = "[A-Z]\w"
b= re.findall(pattern,a)
print(a)

A year conatains 365 days and 6 hours

In [9]:
string = "Rohit Sharma has Score 43 CENTUREIS and 91 HALF CENTUREIS in his cricket career"

Capital = re.findall(r'[a-z]', string)
Small = re.findall(r'[A-Z]', string)
numbers = re.findall(r'[0-9]', string)

print("Capital = ",Capital)
print("Small = ",Small)
print("numbers = ",numbers)

Capital =  ['o', 'h', 'i', 't', 'h', 'a', 'r', 'm', 'a', 'h', 'a', 's', 'c', 'o', 'r', 'e', 'a', 'n', 'd', 'i', 'n', 'h', 'i', 's', 'c', 'r', 'i', 'c', 'k', 'e', 't', 'c', 'a', 'r', 'e', 'e', 'r']
Small =  ['R', 'S', 'S', 'C', 'E', 'N', 'T', 'U', 'R', 'E', 'I', 'S', 'H', 'A', 'L', 'F', 'C', 'E', 'N', 'T', 'U', 'R', 'E', 'I', 'S']
numbers =  ['4', '3', '9', '1']

In [32]:
import re

string = "this is all abbout the padddttebbbr"

pattern = r'b{2,3}'
matches = re.findall(pattern, string)

print(matches)

['bb', 'bbb']

In [18]:
import re

string = "ImportanceOfRegularExpressionsInPython"

pattern = r'(?=[A-Z])'
result = re.split(pattern, string)[1:]

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [24]:
string = "abbbccddeebbb"

pattern = r"(b.).(b..)"

matches = re.findall(pattern,string)

print(matches)

[]

In [17]:
import re

string = "Rohit Sharma has Score 43 CENTUREIS and 91 HALF CENTUREIS in his cricket career"

pattern = r'(?=[A-Z])'
result = re.split(pattern, string)[1:]

print(result)

['Rohit ', 'Sharma has ', 'Score 43 ', 'C', 'E', 'N', 'T', 'U', 'R', 'E', 'I', 'S and 91 ', 'H', 'A', 'L', 'F ', 'C', 'E', 'N', 'T', 'U', 'R', 'E', 'I', 'S in his cricket career']

In [26]:
a = "abbbccddebbebbb"
pattern = re.
print(pattern)

TypeError: expected string or bytes-like object

In [5]:
string = " Kohli has also contributed to India's successes, including winning the 2011 World Cup and the 2013 Champions trophy."

sub = re.sub(r'[A-Z]+',r'_',string)
print(sub)

 _ohli has also contributed to _ndia's successes, including winning the 2011 _orld _up and the 2013 _hampions trophy.